[Unit]
Description=Setup a dynamic tunnel to k232-tun
After=network-online.target

[Service]
ExecStart=/usr/bin/ssh -F %h/.ssh/config -o ControlMaster=no -o ExitOnForwardFailure=yes -nNT k232-tun
RestartSec=15
Restart=on-failure
KillMode=mixed

[Install]
WantedBy=default.target
